@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  background-color: #fff;
  font-weight: 400;
  color: #fff;
  line-height: 1.6;
  position: relative;
  min-height: 100vh; }

.index__clock {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.3), black), url(../image/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row; }

.index__timer {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.4), rgba(0, 0, 0, 0.3)), url(../image/kitchen1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.index__stoper {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 255, 0.3), black), url(../image/stoper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-top: 100px; }
  .container .timeZoneName {
    font-size: 4rem;
    margin-top: 3rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFEB3B; }
  @media only screen and (max-width: 500px) {
    .container .timeZoneName {
      font-size: 3rem; } }

@media only screen and (max-width: 600px) {
  body {
    flex-direction: row; } }

a,
a:link,
a:active,
a:visited {
  text-decoration: none; }

footer {
  width: 100vw;
  height: 50px;
  background-color: #000;
  color: #ddd;
  margin: 100px 0 0 0;
  justify-self: flex-end;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem; }

.clock {
  width: 45rem;
  height: 45rem;
  border: 6px solid goldenrod;
  border-radius: 50%;
  box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.1), 0 6.7px 5.3px rgba(255, 255, 255, 0.1), 0 12.5px 10px rgba(255, 255, 255, 0.1), 0 22.3px 17.9px rgba(255, 255, 255, 0.1), 0 41.8px 33.4px rgba(255, 255, 255, 0.1), 0 100px 80px rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }
  .clock__hands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; }
    .clock__hands--hourHand, .clock__hands--minuteHand, .clock__hands--secondHand {
      border-radius: 10px; }
    .clock__hands--hourHand {
      width: .4rem;
      height: 10rem;
      background-color: #ffc107;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 4;
      position: absolute; }
    .clock__hands--minuteHand {
      width: .4rem;
      height: 15rem;
      background-color: #ffc107;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 3;
      position: absolute; }
    .clock__hands--secondHand {
      width: .3rem;
      height: 18rem;
      background-color: yellow;
      transform: rotate(0deg);
      transform-origin: bottom;
      z-index: 5;
      position: absolute; }
    @media only screen and (max-width: 400px) {
      .clock__hands--hourHand {
        width: .3rem;
        height: 7rem; }
      .clock__hands--minuteHand {
        width: .2rem;
        height: 11rem; }
      .clock__hands--secondHand {
        width: .2rem;
        height: 15rem; } }
  .clock__numbers {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-shadow: 3px 3px 6px rgba(255, 255, 255, 0.4);
    color: #ffc107;
    position: relative;
    font-size: 3.5rem; }
    .clock__numbers > span {
      justify-self: center;
      align-self: center;
      position: absolute; }
    .clock__numbers--twelve-six {
      position: absolute;
      height: 200%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
    .clock__numbers--one-seven {
      position: absolute;
      height: 200%;
      transform: rotate(30deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--one-seven span:nth-child(1) {
        transform: rotate(-30deg); }
      .clock__numbers--one-seven span:nth-child(2) {
        transform: rotate(-30deg); }
    .clock__numbers--two-eight {
      position: absolute;
      height: 200%;
      transform: rotate(60deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--two-eight span:nth-child(1) {
        transform: rotate(-60deg); }
      .clock__numbers--two-eight span:nth-child(2) {
        transform: rotate(-60deg); }
    .clock__numbers--three-nine {
      position: absolute;
      height: 200%;
      transform: rotate(90deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--three-nine span:nth-child(1) {
        transform: rotate(-90deg); }
      .clock__numbers--three-nine span:nth-child(2) {
        transform: rotate(-90deg); }
    .clock__numbers--four-ten {
      position: absolute;
      height: 200%;
      transform: rotate(120deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--four-ten span:nth-child(1) {
        transform: rotate(-120deg); }
      .clock__numbers--four-ten span:nth-child(2) {
        transform: rotate(-120deg); }
    .clock__numbers--five-eleven {
      position: absolute;
      height: 200%;
      transform: rotate(150deg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .clock__numbers--five-eleven span:nth-child(1) {
        transform: rotate(-150deg); }
      .clock__numbers--five-eleven span:nth-child(2) {
        transform: rotate(-150deg); }
  @media only screen and (max-width: 500px) {
    .clock__numbers {
      font-size: 2.5rem; } }

@media only screen and (max-width: 500px) {
  .clock {
    width: 35rem;
    height: 35rem;
    border: 4px solid goldenrod; } }

.center_clock {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row; }

.nav {
  position: absolute;
  align-self: flex-start;
  top: 0;
  width: 100vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1.5rem; }
  .nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFEB3B;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: none !important;
    padding: 20px;
    transition: 0.6s; }
    .nav__container:hover {
      background-color: #FFEB3B;
      color: black; }
    .nav__container:hover .nav__container__clock, .nav__container__timer, .nav__container__stoper {
      color: black; }
    .nav__container:hover .nav__container__clock {
      color: black; }
    .nav__container:hover .nav__icon {
      fill: black;
      fill-rule: evenodd; }
  .nav__icon {
    height: 40px;
    width: 40px;
    fill: #FFEB3B;
    fill-rule: evenodd;
    transition: 0.6s; }

@media only screen and (max-width: 700px) {
  .nav {
    font-size: 1.4rem; }
  .nav__icon {
    width: 30px;
    height: 30px; } }

/* @font-face {
    font-family: 'digital';
    src : url('/digital-7.regular.ttf')
} */
.index__stoper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }

.stoper__time {
  font-size: 15rem;
  font-family: 'Roboto', sans-serif;
  color: #FFEB3B;
  margin-top: 200px;
  margin-bottom: 0 !important;
  padding: 0; }
  .stoper__time .milisec {
    font-size: 14rem; }

.stoper__buttons {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px; }

.btn {
  font-size: 3.03rem;
  padding: 1rem 3.4rem;
  border: 1px solid;
  border-radius: 15px;
  margin: 20px 10px;
  cursor: pointer;
  background-color: transparent;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5); }
  .btn__start {
    color: #fff;
    transition: .2s; }
    .btn__start:hover {
      background-color: #fff;
      color: blue; }
  .btn__reset {
    color: #FFEB3B;
    transition: .2s; }
    .btn__reset:hover {
      background-color: #FFEB3B;
      color: #000; }
  .btn__stop {
    color: red;
    transition: .2s; }
    .btn__stop:hover {
      background-color: red;
      color: #000; }
  .btn__loop {
    color: blue;
    transition: .2s; }
    .btn__loop:hover {
      background-color: blue;
      color: #000; }

.stoper__tab {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: 20px 0 200;
  color: #FFEB3B; }

.tabC {
  margin: 0 auto; }

table tr th {
  padding: 20px; }

table tr td {
  text-align: center; }

.seconds {
  width: 500px; }

.lap__table {
  margin-bottom: 50px;
  list-style-type: decimal; }
  .lap__table li {
    display: list-item;
    list-style-type: decimal;
    font-size: 6rem; }

@media only screen and (max-width: 1400px) {
  .stoper__time {
    font-size: 8rem; }
  .btn {
    font-size: 2rem;
    width: 120px; }
  .stoper__tab,
  .lap__table {
    font-size: 2rem; } }

@media only screen and (max-width: 700px) {
  .stoper__time {
    font-size: 7rem; }
  .btn {
    font-size: 1.7rem;
    width: 100px; }
  .stoper__tab,
  .lap__table {
    font-size: 1.7rem; } }

@media only screen and (max-width: 550px) {
  .stoper__buttons {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto; }
  .btn {
    width: 45%;
    margin: 0 10%; } }

.index__timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden; }

.timer__display {
  color: #FFEB3B;
  width: auto;
  height: 50px;
  text-align: center;
  font-size: 5rem; }

.mt {
  margin-top: 350px; }

.timer__buttons {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-item: center;
  justify-content: center; }
  .timer__buttons .timer__btn {
    font-size: 3.03rem;
    padding: 1rem 3.4rem;
    border: 1px solid;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px; }
    .timer__buttons .timer__btn__start {
      color: #fff;
      transition: .2s; }
      .timer__buttons .timer__btn__start:hover {
        background-color: #fff;
        color: blue; }
    .timer__buttons .timer__btn__reset {
      color: #FFEB3B;
      transition: .2s; }
      .timer__buttons .timer__btn__reset:hover {
        background-color: #FFEB3B;
        color: #000; }
    .timer__buttons .timer__btn__stop {
      color: red;
      transition: .2s; }
      .timer__buttons .timer__btn__stop:hover {
        background-color: red;
        color: #000; }
    .timer__buttons .timer__btn__edit {
      color: #19bcd8;
      transition: .2s; }
      .timer__buttons .timer__btn__edit:hover {
        background-color: #19bcd8;
        color: #000; }

.modal__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #000;
  opacity: .8;
  display: none;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; }

.modal {
  width: 700px;
  height: 600px;
  border: 1px solid #fff;
  border-radius: 15px;
  position: fixed;
  z-index: 11;
  animation-name: animatetop;
  animation-duration: .4s;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif; }

.modal__top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid  #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }
  .modal__top p {
    font-size: 3rem;
    font-family: inherit; }
  .modal__top svg {
    width: 45px;
    height: 45px;
    transition: .4s;
    fill: red; }
    .modal__top svg:hover {
      cursor: pointer;
      fill: red; }

.modal__center {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .modal__center .checkboxs {
    justify-self: flex-start;
    width: 100%;
    padding: 40px 30px; }
    .modal__center .checkboxs form {
      display: inline-block;
      font-size: 1rem; }
  .modal__center .counting__day__hours {
    display: none;
    width: 100%;
    height: 180px;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .modal__center .counting__day__hours form {
      justify-content: center;
      flex-direction: row;
      align-items: center;
      align-content: center;
      width: 100%;
      text-align: center; }
      .modal__center .counting__day__hours form input[type="text"] {
        width: 65%;
        color: white;
        background-color: transparent;
        text-align: center; }
      .modal__center .counting__day__hours form ::placeholder {
        color: white;
        opacity: 1; }
    .modal__center .counting__day__hours .__hoursInputs {
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: center; }
      .modal__center .counting__day__hours .__hoursInputs input {
        background-color: transparent;
        border-radius: 15px;
        color: #fff;
        width: 25%;
        margin: 0 10px;
        text-align: center; }
      .modal__center .counting__day__hours .__hoursInputs :placeholder {
        color: white;
        opacity: 1; }
  .modal__center .counting__hours {
    display: flex;
    width: 100%;
    height: 180px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .modal__center .counting__hours input {
      color: #fff;
      text-align: center; }
    .modal__center .counting__hours ::placeholder {
      color: white;
      opacity: 1; }
    .modal__center .counting__hours .__hoursInputs {
      margin-top: 40px; }
      .modal__center .counting__hours .__hoursInputs input {
        text-align: center;
        color: #fff;
        background-color: transparent;
        width: 17%;
        margin: 0 10px; }
      .modal__center .counting__hours .__hoursInputs ::placeholder {
        color: white;
        opacity: 1; }

.modal__bottom {
  border-top: 1px solid #fff;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer; }
  .modal__bottom .btn__modal {
    font-size: 2.5rem;
    font-family: inherit;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer; }
    .modal__bottom .btn__modal:hover:first-child {
      color: #FFEB3B; }
    .modal__bottom .btn__modal:hover:last-child {
      color: red; }

@keyframes animatetop {
  from {
    margin-top: -20%;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

input[type="date"],
input[type="time"] {
  width: 200px;
  height: 50px; }

input[type="text"] {
  background-color: transparent;
  height: 40px;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 2rem; }

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle; }

.checkbox_label {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 30px;
  margin-left: 5px; }
