.clock {
    width: 45rem;
    height: 45rem;
    border: 6px solid goldenrod;
    border-radius: 50%;
    box-shadow:
        0 2.8px 2.2px rgba(255, 255, 255,.1),
        0 6.7px 5.3px rgba(255, 255, 255, .1),
        0 12.5px 10px rgba(255, 255, 255, .1),
        0 22.3px 17.9px rgba(255, 255, 255, .1),
        0 41.8px 33.4px rgba(255, 255, 255, .1),
        0 100px 80px rgba(255, 255, 255, .1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
   



    &__hands {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;


        &--hourHand,
        &--minuteHand,
        &--secondHand {
            border-radius: 10px;
        }
 
        &--hourHand {
            width: .4rem;
            height: 10rem;
            background-color:#ffc107;
            transform: rotate(0deg);
            transform-origin: bottom;
            z-index: 4;
            position: absolute;
        }
        &--minuteHand {
            width: .4rem;
            height: 15rem;
            background-color: #ffc107;
            transform:  rotate(0deg);
            transform-origin: bottom;
            z-index: 3;
            position: absolute;
    
        }
        &--secondHand {
            width: .3rem;
            height: 18rem;
            background-color: yellow;
            transform: rotate(0deg);
            transform-origin: bottom;
            z-index: 5;
            position: absolute;        
        }

        @media only screen and (max-width: 400px) {
            &--hourHand {
                width: .3rem;
                height: 7rem;
            }
            &--minuteHand {
                width: .2rem;
                height: 11rem;
                
        
            }
            &--secondHand {
                width: .2rem;
                height: 15rem;
                        
            }
        }
    }

    &__numbers {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-shadow: 3px 3px 6px rgba(255, 255, 255, .4);
        
       
        color: #ffc107;
        position: relative;
        font-size: 3.5rem;

        & > span {
            justify-self: center;
            align-self: center;
            position: absolute;

            
        }

        &--twelve-six {
            position: absolute;
            height: 200%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            
        }

        &--one-seven {
            position: absolute;
            height: 200%;
            transform: rotate(30deg);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            span:nth-child(1) {
                transform: rotate(-30deg);
            }
            span:nth-child(2) {
                transform: rotate(-30deg);
            }
        }

        &--two-eight {
            position: absolute;
            height: 200%;
            transform: rotate(60deg);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            span:nth-child(1) {
                transform: rotate(-60deg);
            }
            span:nth-child(2) {
                transform: rotate(-60deg);
            }
        }


        &--three-nine {
            position: absolute;
            height: 200%;
            transform: rotate(90deg);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            span:nth-child(1) {
                transform: rotate(-90deg);
            }
            span:nth-child(2) {
                transform: rotate(-90deg);
            }
        }


        &--four-ten {
            position: absolute;
            height: 200%;
            transform: rotate(120deg);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            span:nth-child(1) {
                transform: rotate(-120deg);
            }
            span:nth-child(2) {
                transform: rotate(-120deg);
            }
        }


        &--five-eleven {
            position: absolute;
            height: 200%;
            transform: rotate(150deg);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            span:nth-child(1) {
                transform: rotate(-150deg);
            }
            span:nth-child(2) {
                transform: rotate(-150deg);
            }
        }
        
    }
    @media only screen and (max-width: 500px) {
        &__numbers {
            font-size: 2.5rem;
        } 
    }
    

    
}
        
@media only screen and (max-width: 500px) {
    .clock {
        width: 35rem;
        height: 35rem;
        border: 4px solid goldenrod;
    }

    
}

