
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box; 
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: #fff;
    font-weight: 400;  
    color: #fff;
    line-height: 1.6;
    
    position: relative;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
    min-height: 100vh;
} 
.index__clock {
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.3),
        rgba(black, 1)),
    url(../image/office.jpg);    
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}
.index__timer {
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.4),
        rgba(black, .3)),
    url(../image/kitchen1.jpg);    
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}
.index__stoper {
    background-image: linear-gradient(
        to right bottom,
        rgba(blue, 0.3),
        rgba(black, 1)),
    url(../image/stoper.jpg);    
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;// grid
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    height: auto;
    padding-top: 100px;

    .timeZoneName {
        font-size: 4rem;
        margin-top: 3rem;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color:  #FFEB3B;
        
    }
    @media only screen and (max-width: 500px) {
        .timeZoneName {
            font-size: 3rem;
        }
    
        
    }
  
}
@media only screen and (max-width: 600px) {
    body {
        flex-direction: row;
    }

    
}
a,
a:link,
a:active,
a:visited {
    text-decoration: none;
}