
.buttons {
    width: 100vw;
    height: 80px;
    background-color: #fff 0.2;
    position: absolute;

    top: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;


    .button {
        margin: 5px 30px;
        padding: 15px 25px;
        color: yellow;
        border: 1px solid yellow;
        border-radius: 40px;
        font-weight: 500;
        
    }
   
}